/*-------------Đăng nhập start-------------*/

.dn-cha{
    height: 600PX;
    position: relative;
}
.dn-cha img.banner {
    height: 100%;
    width: 100%;
    position: relative;
}
.dn-cha .img-nen h2 {
    color: #fec722;
    text-indent: 5px;
}
form.form-dn{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 15%;
    left: 35%;
    background: #2d2d2882;
    border-radius: 5px;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
}
form:before {  
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-image: linear-gradient(to right, #a9fe22e0 0%, #feb021e3 100%);
    box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
}
form .img-nen{
    margin-left: 21%;
    margin-top: 10%;
}
form.form-dn .theInput{
    text-indent: 20px;
    margin-top: 6%;
    
}
form.form-dn input {
    border: none;
    background: white;
    width: 89%;
    height: 50px;
    text-indent: 20px;
    color: white;
    border-radius: 2%;
    color: black;
}
form.form-dn .nutSubmit {
    margin-top: 15%;   
    margin-left: 5%;

}
form.form-dn .nutSubmit input{
    background-image: linear-gradient(90deg, #a9fe22e0 0%, #fe5421fa 100%);
    box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
    border-radius: 2%;
    color: white;
    text-indent: 0%;
    cursor: pointer;
}
.form-dn h1 {
    font-size: 13px;
    color: white;
    text-indent: 21%;
    position: absolute;
    bottom: 10%;
}


/*-------------Đăng nhập end-------------*/

/*-------------Môn-học-start-------------*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: block;
}
.tab-detail button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: block;
}
.tab-detail {
    float: left;
}
.tab-detail button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-detail button.active {
    background-color: #ccc;
}


/* Change background color of buttons on hover */
.tab-detail button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-detail button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/*-------------Môn-học-end-------------*/
